<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="./graph-creator.css" />
  </head>

  <body>

    <div id="toolbox">
      <Button id="submit-query"> Submit Query </Button>
      <Button  id="delete-graph" > Delete Query </Button> 
    </div>

    <div>
    <div id = "query-section">
    </div>

    <div id = "result-section">
    </div>
    </div>

    <script src="//d3js.org/d3.v3.js" charset="utf-8"></script>    
    <script src="//cdn.jsdelivr.net/filesaver.js/0.1/FileSaver.min.js"></script>
    <script src="./graph-creator.js"></script>
  </body>

</html>